<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">
<head>
    <title>Weather Route Training Simulator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
    <script type=text/css src="{{url_for('static', filename='./js/plugins/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css')}}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
</head>

<body style="padding: 0; margin: 0; height: 100%; width: 100%;">
    <div id="map" style="height: 100%; width: 100%"></div>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='./js/plugins/Leaflet.windbarb/src/leaflet-windbarb.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='./js/plugins/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <script>
        let maxBounds = L.latLngBounds({{ extents|tojson }});
        let wind = {{data|tojson}};
    </script>

    <script type=text/javascript src="{{url_for('static', filename='./js/app.js')}}"></script>

    <script>
        plotWindBarbs(wind);
    </script>

</body>
</html>