<!DOCTYPE html>
<html>
<head>
    <title>Weather Route Training Simulator</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='./js/leaflet-windbarb.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-pixi-overlay@1.8.2/L.PixiOverlay.min.js"></script>

    <script>
        var map = L.map('map',{
            worldCopyJump: true,
            preferCanvas: true,
            minZoom: 5,
            maxZoom: 10,
            maxBounds: L.latLngBounds({ lat: 50.56928286558243, lng: -95.88867187500001 }, { lat: 17.26672782352052, lng: -177.09960937500003 }),
        }).setView([35.5, -136.5], 5);

        mapLink ='<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            }).addTo(map);

        var wind={{data|tojson}};
        wind.data.forEach(function(p){
        //var icon = L.WindBarb.icon({deg: p.degree, speed: p.speed});
        //var marker = L.marker([p.latitude, p.longitude], {icon: icon});
        // Display the left and right map to seemlessly display edges of the map
        //L.circle([p.latitude, p.longitude]).addTo(map);
        L.circle([p.latitude, p.longitude - 360]).addTo(map);
        //L.circle([p.latitude, p.longitude + 360]).addTo(map);
        });

        function doStuff() {
           console.log(map.getBounds());
        }
        //setInterval(doStuff, 1000);
    </script>
</body>
</html>